<%= form_tag new_carrinho_path, :method => 'get' do%>
  <div class="row justify-content-center m-5">
    <h3>Inserir produto</h3>
  </div>
  <div class="row justify-content-center m-5">
    <div class="col-md-5">
      <%= text_field_tag :nome_produto, params[:nome_produto], :class => 'form-control', :placeholder => 'Nome produto'%>
    </div>
    <div class="col-md-5">
      <%= text_field_tag :preco, params[:preco], :class => 'form-control', :placeholder => 'Preço'%>
    </div>
  </div>
  <div class="row justify-content-center m-5">
    <%= submit_tag "Add produto", :name => nil, :class => "btn btn-info"%>
  </div>
<% end %>